<h1>
  Youngest director
</h1>

<p>
The youngest director in our dataset right now is <a href=<% %>> <%= "Lilly Wachowski" %></a>, born on <%= "December 29, 1967" %>
</p>

<p>
(<a href="http://strftime.net/">http://strftime.net/</a> is handy for putting together the formatting strings for the .strftime method.)
</p>